h1 {
    color: rgb(0, 0, 0);
}

.bluetitle {
    color: blue;
}

body {
    background-color: rgb(157, 208, 202);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(27, 187, 181);
    padding: 1px 20px;

}

footer {
   background-color: rgb(27, 187, 181);
   padding: 20px 20px;
   position: fixed;
   width: 100%;
   bottom: 0;
   margin: 0;
   align-items: center;
   display: flex;
}

div {
    margin: 25px;
}

section {
    margin: 25px;

}


.navbar a:link{
    font: bold;
    color: lightgray;
    text-decoration: none;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}

.navbar a:visited {
    color: lightgray;

}

.navbar a:hover {
    color: white;
}

.navbar li a:hover:not(.active) {
    background-color: rgb(25, 135, 155);
}
  

.navbar li {
    display: inline-block;
}

.navbar ul {
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(64, 156, 156);
    width: 100%;
}

.navbar {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
}

.active  {
    background-color:  rgb(27, 187, 181);
  }

.dailyFactInfo {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
    margin-top: 80px;
    width: 500px;
    float: right;
    padding: 7px;
}

.dailyFactImage {
    max-width: 70%;
    max-height: 70%;
}

.aboutImage {
    width: 80px;
    height: 102px;
    padding-right: 500px;
    padding-top: 50px;
    overflow: hidden;
    float: right;
}

.dailyFact {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border: 2px solid black;
    overflow: auto;
    padding: 5px;
}

.result {
    font-family: Arial, Helvetica, sans-serif;
}

.socialMedia {
    width: 32px;
    height: 32px;
    padding-left: 50px;
    padding-right: 10px;
}

.footerText {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2px;
    font-weight: bolder;
}

.footerText .footerLink {
    font-weight: 900;
}

  
.pagination {
    margin-bottom: 100px;
    text-align: center;
    margin-left: 700px;
    margin-right: 700px;
    
}

.pagination li {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
}

.pagination ul {
    top: 0;
    list-style-type: none;
    margin: 2px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(64, 156, 156);
    width: 100%;
    border: 1px solid black;
}

.pagination a:link{
    font: bold;
    color: lightgray;
    text-decoration: none;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}

.pagination a:hover {
    color: white;
}

.pagination li a:hover:not(.active) {
    background-color: rgb(25, 135, 155);
}

.pagination a:visited {
    color: lightgray;

}

.archiveResults {
    margin-bottom: 50px;
    overflow: hidden;
    border-top: 2px solid black;
}

.disabled li {
    pointer-events: none;
    color: blue;
}

.archiveForm {
    display: inline-block;
    margin-bottom: -500px;
}

.searchBar {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color:rgb(203, 222, 222);
}

.searchBarTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.selectBar {
    padding: 12px 20px;
    margin: 8px 0;
    background-color:rgb(203, 222, 222);
}

.selectBarTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.submit {
    padding: 12px 50px;
    margin: 8px 0;
}

.commentForm {
    margin-bottom: 100px;
}