{% extends "base.template.html.twig" %}

{% block maincontent %}

<div class="container-fluid row gx-5 mt-3">
    <div class="col-md-4">
        <div>
            <h2><b>About the website</b></h2>
            <p class="fs-4">
                This website is a personal project designed on the one hand as practical use of my programming and web development skills, and on the other as an 
                opportunity to learn more history. It is also designed for the benefit of any others with a similar interest and my development process has kept the user 
                experience in mind. I intend to continue adding to the site incrementally, both to maintain the site and implement new features, using each as an opportunity to teach myself another skill.
                Hopefully it serves as an appropriate example of my programming capabilities and is of use to those with interest in the site subject.
            </p>
        </div> 
        <div>
            <h4><b>So far, the skills I've used to build this website include:</b></h4>
            <ul class="fs-4">
                <li>Object-oriented PHP based on the MVC model.</li>
                <li>Design with HTML and CSS.</li>
                <li>Javascript for added functionality.</li>
                <li>Experience with Bootstrap.</li>
                <li>Writing SQL queries for a MySQL database and using MySQL Workbench and phpMyAdmin as clients.</li>
                <li>The use of version control with Git and experience with the Linux command line.</li>
                <li>Using both Composer and NPM as dependency managers.</li>
                <li>Unit testing with PHP Unit.</li>
                <li>Templating with Twig.</li>
                <li>Deployment with AWS using an EC2 instance in an ECR cluster.</li>
                <li>Docker - both for local deployment and integration with AWS.</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">  
        <h2><b>About me</b></h2>
        <p class="fs-4">
            I am a Software Developer based in Oxfordshire, mostly working in Javascript and PHP for the development of websites using Drupal and voice apps on NodeJS integrated with Amazon Alexa, Google 
            Assistant, and Oracle. I have experience working experience with both site development and maintenance, working collaboratively with both colleagues and clients to meet deadlines. 
            Mostly I am experienced with the AGILE framework, being that our team uses SCRUM to quickly adapt and meet customer needs, ensuring each deverloper has the time and support they need.
        </p>
        </br>
        <p class="fs-4">
            In my spare time, I enjoy developing side projects such as this website, but have also used my growing skillset in the development of a multi-platform event-driven app for hosting skills or actions on Amazon Alexa and Google Assistant.
            This has given me additional understanding of NodeJS, as well as experience as a front-end developer. On top of this, I have begun production of an Android app to succeed my Google Action as a result of their announced sunsetting.
            Written in Kotlin, this is giving me a greater appreciation of thread-based programming, further expanding on my knowledge of Java-like languages .
            Finally, I have also recently been working on a chatbot for integrating Trello Kanban boards with the social media platform Discord. This has allowed me to expediate project management when collaborating with people.
        </p>
        </br>
        <p class="fs-4">
            I am also a graduate from Reading University, having achieved a 2-1 in English Literature and Language. I spent much of my free time during my course teaching myself
            to code, focussing mainly on PHP and object-oriented programming, but also gaining an introductory level of experience with Java. I'm always looking for new opportunities to expand my 
            skillset and develop my career. While I've enjoyed expanding my analytical skills during my degree, I've been even more eager to develop my problem-solving skills. <br>
        </p>

    </div>
    <div class="col-md-4">  
        <div>
            <h2><b>Voice App</b></h2>
            <p class="fs-4">
                Alongside this website, I have also been developing a voice app with much of the same functionality, but greater levels of accessibility. The app runs on NodeJS,
                and makes use of the Jovo framework and as a result is cross-platform, working with both Google Assistant and Amazon Alexa. It then draws information from this 
                site by connecting to an API when a request is made. You can access the app by installing the skill on Alexa or Google under the name "Daily History Facts".
            </p>
        </div>
        </br>
        <div>
            <h2><b>Contact Information</b></h2>
            <ul style="list-style-type:none;">
            <p class="fs-4">Click <a href="assets/cv.pdf" target="blank">here</a> to view my CV <a href="assets/cv.pdf" target="blank"> <img class="img-fluid" style="height: 40; width: 40px" src="assets/cv.png" alt="CV"/></a></p>
            <p class="fs-4">Click <a href="mailto:twbradley@hotmail.com">here</a> to contact me via email <a href="mailto:twbradley@hotmail.com" target="blank"> <img class="img-fluid" style="height: 40; width: 40px" src="assets/email.png" alt="Email"/></a>
            <p class="fs-4">Click <a href="https://www.linkedin.com/in/thomas-bradley-13a08616a/" target="blank">here</a> to view my LinkedIn profile <a href="https://www.linkedin.com/in/thomas-bradley-13a08616a/" target="blank"> <img class="img-fluid" style="height: 40; width: 40px" src="assets/linkedin.png" alt="Linkedin"/></a></p>
            <p class="fs-4">Click <a href="https://github.com/tom1527" target="blank">here</a> to see my GitHub profile<a style="text-decoration: none" href="https://github.com/tom1527" target="blank"> <img class="img-fluid" style="height: 40; width: 40px" src="assets/GitHub-Mark-64px.png" alt="Github Logo"/></a></p>
        </div>   
    </div>
</div>

{% endblock %}
