{% extends "base.template.html.twig" %}

{% block maincontent %}

<div class="container-fluid row gx-5 mt-3">
    <div class="col-md-4">
        <h2><b>About the website</b></h2>
        <p class="fs-3">
            This website is a personal project designed on the one hand as practical use of my programming and web development skills, and on the other as an 
            opportunity to learn more history. It is also designed for the benefit of any others with a similar interest and my development process has kept the user 
            experience in mind. I intend to continue adding to the site incrementally, both to maintain the site and implement new features, using each as an opportunity to teach myself another skill.
            Hopefully it serves as an appropriate example of my programming capabilities and is of use to those with interest in the site subject.
        </p>
    </div>
    <div class="col-md-4">  
        <h2><b>About me</b></h2>
        <p class="fs-3">
            I am a recent graduate from Reading University, having achieved a 2-1 in English Literature and Language. I have spent much of my free time during my course teaching myself
            to code, focussing mainly on PHP and object-oriented programming, but also gaining an introductory level of experience with Java. I'm now looking to start my career as a software developer using
            the skills I've taught myself building this site or garnered through courses on Coursera and Codecademy. While I've enjoyed expanding my analytical skills during my degree, I've
            been even more eager to develop my problem-solving skills. <br>
            So far, the skills I've used to build this website include:
            <ul class="fs-3">
                <li>Object-oriented PHP based on the MVC model.</li>
                <li>Design with HTML and CSS.</li>
                <li>Javascript for added functionality.</li>
                <li>Experience with Bootstrap.</li>
                <li>Writing SQL queries for a MySQL database and using MySQL Workbench and phpMyAdmin as clients.</li>
                <li>The use of version control with Git and experience with the Linux command line.</li>
                <li>Using both Composer and NPM as dependency managers.</li>
                <li>Unit testing with PHP Unit.</li>
                <li>Templating with Twig.</li>
                <li>Deployment with AWS using EC2.</li>
                <li>Docker (local deployment).</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">  
        <h2><b>Contact</b></h2>
        <ul style="list-style-type:none;">
            <p class="fs-3">Click <a href="cv.pdf" target="blank">here</a> to view my CV <a href="cv.pdf" target="blank"> <img class="img-fluid" style="height: 40; width: 40px" src="cv.png" alt="CV"/></a></p>
            <p class="fs-3">Click <a href="mailto:twbradley@hotmail.com">here</a> to contact me via email <a href="mailto:twbradley@hotmail.com" target="blank"> <img class="img-fluid" style="height: 40; width: 40px" src="email.png" alt="Email"/></a>
            <p class="fs-3">Click <a href="https://www.linkedin.com/in/thomas-bradley-13a08616a/" target="blank">here</a> to view my LinkedIn profile <a href="https://www.linkedin.com/in/thomas-bradley-13a08616a/" target="blank"> <img class="img-fluid" style="height: 40; width: 40px" src="linkedin.png" alt="Linkedin"/></a></p>
    </div>
</div>

{% endblock %}
