{% extends "base.template.html.twig" %}

{% block title %}About{% endblock %}
{% block inner_header %}About{% endblock %}
{% block maincontent %}
    <div>
        <h2>About the website</h2>
        <p>Site Description</p>
    </div>
    <div>
        <h2>About the creator</h2>
        <p>Creator description</p>
    </div>
{% endblock %}
