<!DOCTYPE HTML>
<htmml>
    <body class="pb-5 mb-5">
    <head>
        {% block head %}
            <title>{% block title %}{{page}}{% endblock %}</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="assests/style.css">
            <script type="text/javascript" 
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        {% endblock %}
    </head> 


    <header class="page-header text-center text-white p-3 bg-dark">
        {% block header %}
        <h1 style="margin-bottom: 0">{% block inner_header %}{{page}}{% endblock %}</h1>
        {% endblock %}
    </header>


    {% block navbar %}
        {% embed 'navBar.template.html.twig' %}
        {% endembed %}
    {% endblock %}

    {% block maincontent %}
    {% endblock %}
   
    {% block footer %}   
        {% embed 'footer.template.html.twig' %}
        {% endembed %}
    {% endblock %}
    </body>
</htmml>
