    <div class="row g-1 gy-3">
    
        <div class="col align-self-start col-lg-auto col-sm-16 fs-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h1 class="card-title"><b id="factDate"></b></h1>
                    <br/>
                    <b>
                        {% if dailyFactInfo | first.fact %}
                            {{dailyFactInfo | first.fact}}
                        {% else %}
                            Error: the entry for this date is most likely empty. This will be fixed as the website is updated.
                        {% endif %}
                    </b>
                    <br/>
                    <br/>
                    <p class="card-link text-secondary">
                    {% if dailyFactInfo | first.link %}
                        Click <a href="{{dailyFactInfo | first.link}}" target="blank"><b>here</b></a> to learn more.
                    {% else %}
                        Error: link not found.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col align-self-start col-lg-12">
            <a href="{{dailyFactInfo | first.image}}" target="blank">
                <img style="width: 500px; height:auto;" src="{{dailyFactInfo | first.image}}" class="border img-fluid" alt="associated image">
            </a>
        </div>
    </div>

    
