    <footer class="footer fixed-bottom bg-dark text-white p-3">
        <div class="container">
            <div class="row">
                <span class="col col-6 col-md-4">
                    Admin contact: <a href="mailto:twbradley@hotmail.com">twbradley@hotmail.com</a>
                </span>
                <span class="col">
                    <img href="https://www.linkedin.com/in/thomas-bradley-13a08616a/" class="img-fluid" target="blank">
                        <img  style="width: 32px; height:32px;" src="linkedin.png" alt="Linkedin-logo-icon-png"/> 
                    </img>
                    <a class="p-2" href="https://www.linkedin.com/in/thomas-bradley-13a08616a/" target="blank">
                        Thomas&nbsp;Bradley
                    </a>
                </span>
            </div>
        </div>
    </footer>  
