    <footer class="footer fixed-bottom bg-dark p-3">
        <div class="container">
            <div class="row">
                <span class="col">
                    Admin contact: <a href="mailto:twbradley@hotmail.com">twbradley@hotmail.com</a>
                </span>
                <span class="col">
                    <a href="https://www.linkedin.com/in/thomas-bradley-13a08616a/" target="blank">
                        <img  style="width: 32px; height:32px;" src="https://www.edigitalagency.com.au/wp-content/uploads/Linkedin-logo-icon-png.png" alt="Linkedin-logo-icon-png"/>
                    </a>
                </span>
                <span class="col">
                    <a href="https://www.linkedin.com/in/thomas-bradley-13a08616a/" target="blank">Thomas Bradley</a>
                </span>
            </div>
        </div>
    </footer>  
