{% extends "base.template.html.twig" %}

{% block maincontent %}

<div class="container-fluid row lg pt-4">
    <div id="daily-fact" class="col">
        <p>Loading Daily Fact...</p>
    </div>

    <div class="col col-lg-3 fs-6">
        <div class="card bg-light">
            <div class="card-body">
                <h1 class="card-title">An Interesting Historical Fact</h1>
                <p>This page displays an interesting fact that occurred on today's date sometime in the past. Although care has been taken to verify the information 
                    below, it should be noted that I am not an historian. Refreshing the page may display an alternate fact for today. <br/> If you wish to see facts from other dates,
                    feel free to visit the archive page. Please bear in mind that some dates may not have an associated fact yet. <br/>
                    If you notice any typos, mistakes, inaccuracies or if you wish to contact me for some other reason, feel free to email me at the address provided at the bottom of 
                    the page and I will be happy to implement any necessary changes.
                </p>
                <h4 id="today" class="card-title"></h4>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="script.js"></script>

{% endblock %}
