{% extends "base.template.html.twig" %}

{% block maincontent %}

<div class="container-fluid row lg pt-4">
    <div class="col">
        <div class="row g-1 gy-3">
        
            <div class="col align-self-start col-lg-auto col-sm-16 fs-3">
                <div class="card bg-light">
                    <div class="card-body">
                        <h1 class="card-title"><b id="factDate"></b></h1>
                        <br/>
                        <b>
                            {% if dailyFactInfo | first.fact %}
                                {{dailyFactInfo | first.fact}}
                            {% else %}
                                Error: the entry for this date is most likely empty. This will be fixed as the website is updated.
                            {% endif %}
                        </b>
                        <br/>
                        <br/>
                        <p class="card-link text-secondary">
                        {% if dailyFactInfo | first.link %}
                            Click <a href="{{dailyFactInfo | first.link}}" target="blank"><b>here</b></a> to learn more.
                        {% else %}
                            Error: link not found.
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col align-self-start col-lg-12">
                <a href="{{dailyFactInfo | first.image}}" target="blank">
                    <img style="width: 500px; height:auto;" src="{{dailyFactInfo | first.image}}" class="border img-fluid" alt="associated image">
                </a>
            </div>
        </div>
    </div>

    <div class="col col-lg-3 fs-6">
        <div class="card bg-light">
            <div class="card-body">
                <h1 class="card-title">An Interesting Historical Fact</h1>
                <p>This page displays an interesting fact that occurred on today's date sometime in the past. Although care has been taken to verify the information 
                    below, it should be noted that I am not an historian. Refreshing the page may display an alternate fact for today. <br/> If you wish to see facts from other dates,
                    feel free to visit the archive page. Please bear in mind that some dates may not have an associated fact yet. <br/>
                    If you notice any typos, mistakes, inaccuracies or if you wish to contact me for some other reason, feel free to email me at the address provided at the bottom of 
                    the page and I will be happy to implement any necessary changes.
                </p>
                <h4 id="today" class="card-title"></h4>
            </div>
        </div>
    </div>

</div>

<script>
    var date = new Date();
    var month = date.getUTCMonth();
    var month = date.toLocaleString('default', { month: 'long' });
    var day = date.getUTCDate();
    var nth = function(d) {
    if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
            case 1:  return "st";
            case 2:  return "nd";
            case 3:  return "rd";
            default: return "th";
        }
    }
    today = "Today's date is: " + month + " " + day + nth(day);
    factDate = "On " + month + " " + day + nth(day) + " in the past... ";
    document.getElementById("today").innerHTML = today;
    document.getElementById("factDate").innerHTML = factDate;
    String(time)
</script>

{% endblock %}
