<div class="navbar">
        <nav>  
            <ul>
                <li><a class="{% if page == "index" %}active{% endif %}" href="index.php">Daily Fact</a></li>
                <li><a class="{% if page == "archive" %}active{% endif %}" href="archive.php">Archive</a></li>
                <li><a class="{% if page == "about" %}active{% endif %}" href="about.php">About</a></li>
            </ul>    
        </nav>
</div>