<nav class="navbar-nav navbar-expand-sm navbar-expand-lg px-3 sticky-top">  
    <ul class="nav nav-pills nav-justified ">
        <li class="nav-item">
            <a class="nav-link{% if page == "index" %} active{% endif %}" href="index.php">Daily Fact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if page == "archive" %} active{% endif %}" href="archive.php">Archive</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if page == "about" %} active{% endif %}" href="about.php">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if page == "test" %} active{% endif %}" href="test.php">test</a>
        </li>
    </ul>    
</nav>
