{% extends "testBase.template.html.twig" %}

{% block title %}About{% endblock %}
{% block inner_header %}About{% endblock %}
{% block maincontent %}

<div class="container-fluid ">
    <div class="col-sm-4 m-3">
            <h2>About the website</h2>
            <p>
                This website is a personal project designed on the one hand for exploratory reasons, in order to experiment with different programming languages, and on the other as an 
                opportunity to learn more history. It is also designed for the benefit of any others with a similar interest and my development process has kept the user 
                experience in mind. I intend to continue adding to the site incrementely, both to patch issues and implement new features regardless of its lack of use from others.
                Hopefully it serves as an appropriate example of my programming capabilities and is of use to those with interest in the site subject.
            </p>
            <h2>About me</h2>
            <p>
                I am a recent graduate from Reading University, havving achieved a 2-1 in English Literature and Language. I have spend much of my freetime during my course enhancing
                my programming skills, focussing mostly on PHP and object oriented style programming. I'm now looking for to start my career in the web development industry using
                the skills I've taught myself and garnered through courses on Coursera and Codecademy. While I've enjoyed expanding my anaylitical skills during my degree, I've
                been even more eager to develop my problem-solving skills. 
                So far my skills include:
                <ul>
                    <li>A solid understanding of PHP</li>
                    <li>A similar level of experience with Java</li>
                    <li>The ability to integrate languages such as PHP, HTML and CSS</li>
                    <li>Experience with CSS frameworks such as Bootstrap</li>
                    <li>A solid understanding of backend operations with SQL and programms such as MySQL Workbench</li>
                    <li>The use of version control tools such as GIT and GIT Bash</li>
                    <li>Dependecy managers such as Composer</li>
                    <li>Testing frameworks such as PHP Unit </li>
                    <li>Templating engines such as Twig</li>
                </ul>
            </p>
    </div>
</div>

{% endblock %}
