/*
header {
    background-color: #9E9E9E;
}

nav {
    background-color: #BDBDBD;
}

.active  {
    background-color:  #aaaaaa;
  }
*/

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.ui-datepicker-year
{
  display: none;
}

span.form-sub-label-container.year, .calendar-new-year{

    display: none;
  
}

.ui-datepicker {
  width: 17em;
margin-left:0; 
margin-right:0;
  padding: 0.2em 0.2em 0;
}
  